{% extends '::base.html.twig' %}

{% block javascripts %}
    <script src="{{ asset('js/jquery/jquery-1.9.0.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/funciones.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/principal.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery/jquery.validate.js') }}" type="text/javascript"></script>
    <script src="{{ asset('js/jquery/jquery.validate-es.js') }}" type="text/javascript"></script>  
    <script src="{{ asset('js/jquery/jquery.dataTables.min.js') }}" type="text/javascript"></script> 
    <script>
        var rolAdmin = false;
    </script>
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('css/estilos.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('css/jquery/jquery.validate.css') }}" rel="stylesheet" type="text/css">    
    <link href="{{ asset('css/jquery/jquery.dataTables.css') }}" rel="stylesheet" type="text/css">     
{% endblock %}
    
{% block body %}    
    <div id="contenedorlogin">
        <div id="isodelivery"><img src="{{ asset('images/isodelivery.png')}}" width="58" height="58" /></div>
        <div id="login">
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                    <td width="32%" height="88" align="center"><img src="{{ asset('images/logo_lafachada.png')}}" width="85" height="88" /></td>
                    <td width="68%" align="left" class="tit_rojo16_bold">Bienvenido al Sistema <br />
                        de delivery de La Fachada</td>
                </tr>
            </table>
            {% block login %}{% endblock %}    
            <br />          

        </div>
{% endblock %}