
{% if is_granted('ROLE_ADMINISTRADOR')  %}
<table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td width="80%" height="28" align="right" bgcolor="#999999"><span class="txt_blanco12_bold">Estado de sucursal: </span>
            <select data-url="{{ path('administracion_sucursal_rol') }}" data-urldetalle="{{ path('administracion_estado_comandas') }}" class="sucursal" name="select10" id="sucursal">
                <option value="0" selected="selected">Todas</option>
            {% for sucursal in sucursales %}
                <option {% if sucursalId == sucursal.id %}selected="selected" {% endif %} value="{{ sucursal.id }}" >{{ sucursal }}</option>
            {% endfor %}
            </select>
        </td>
        <td width="20%" bgcolor="#999999" align="center"><img style="display:none;" id="sucursal_loading" height="20" width="20" src="{{ asset('images/ajaxLoading.gif') }}"  /></td>
    </tr>
</table>
{% endif %}
<table width="10%" align="left" style="margin-left: 5px; margin-top: 10px;">
    <tr><td><img style="display:none;" id="loading_actualizar_estados" src="{{ asset('images/ajaxLoading.gif') }}" width="16" height="16" /></td></tr>
</table>
<table width="212" border="0" align="center" cellpadding="5" cellspacing="0">
    <tr>
        <td width="19"><img src="{{ asset('images/icono_proceso.png') }}" width="18" height="15" /></td>
        <td width="143"><a href="#" class="txt_blanco12_bold en_proceso"><span id="comandas_en_proceso">{{ comandasEnProceso|length }}</span> Comanda en proceso </a></td>
        <td width="20" align="left"><a href="#" class="txt_blanco12_bold en_proceso"><img src="{{ asset('images/icono_flechablanca.png') }}" width="16" height="14" /></a></td>
    </tr>
    <tr>
        <td><img src="{{ asset('images/icono_demora.png') }}" width="19" height="17" /></td>
        <td><a href="#" class="txt_rojo12_bold demorada" ><span id="comandas_demoradas">{{ comandasDemoradas|length }}</span> Comanda demorada</a></td>
        <td align="left"><a href="#" class="demorada"><img src="{{ asset('images/icono_flecharoja.png') }}" width="16" height="14" /></a></td>
    </tr>
</table>

