{% set letras = { '1':'A','2':'B','3':'C','4':'D'} %}
<form class="formulario" action="{{ path('administracion_comanda_finalizar') }}" method="post">
<div id="comanda">
    <table width="290" border="0" align="center" cellpadding="0" cellspacing="0" class="tit_blanco22">
        <tr>
            <td width="251" height="32" align="center">Comanda en curso</td>
        </tr>
    </table>
    {% if cliente is not null %}
        <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                <td width="125" height="22" align="left" class="txt_gris12_bold"><a  class="txt_gris12_bold" title="Agregar Ordenes" href="{{ path('administracion_comanda_iniciar', {'cliente_id': cliente.id}) }}">Agregar Productos</a></td>              
            
               <td width="125" height="22" align="right" class="txt_gris12_bold">{% if comanda is not null %} Comanda {{ comanda.codigo }}{% endif %}</td>
            </tr>
        </table>
        <br>
        <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
            <tr>
                {% set domicilio = cliente.primerDomicilio(app.session.get('domicilio_id')) %}
                <td width="251" height="22" align="left"><span class="txt_negro12_bold">{{ cliente.nombreCompleto }}</span>{% if cliente.comentarios %} <img src="{{ asset('images/icono_comentariointerno.png') }}" title="{{ cliente.comentarios }}" width="16" height="16" />{% endif %}<br />
                    {% if domicilio is not null %}<span class="txt_rojo16">{{ domicilio.calle }}</span> <span class="txt_rojo16">{{ domicilio.pisoDepartamento }}</span><br />{% endif %}
                    <span class="txt_grisclaro12"> {% if domicilio is not null %}{{ domicilio.esquinaLocalidad }}{% endif %}<br />
                        <br />
                    </span>
                </td>
            </tr>
        </table>
        {% if domicilio is not null and domicilio.comentario |length > 0 %}
        <table width="290" height="52" border="0" align="center" cellpadding="0" cellspacing="0" class="txt_comentariosgenerales">
            <tr>
                <td width="251" height="48" align="left">{% if domicilio is not null %}{{ domicilio.comentario }}{% endif %}</td>
            </tr>
        </table>
        {% endif %}
        <br>
        {% if comanda is  null %}
            <table width="290" height="28" border="0" align="center" cellpadding="0" cellspacing="0" >
                <tr>
                    <td height="28" align="center"><a href="{{ path('administracion_comanda_cancelar_cliente')}}" class="txt_rojo12">Cancelar comanda</a></td>
                </tr>
            </table>
            <br>
        {% endif %}
        {% if comanda is not null %}
            {% set ordenes = comanda.ordenesPadres %}
            {% for orden in ordenes %}
                {% if orden.categoria == "Pizzas" %}
                    {% if loop.index != 1 %}
                    <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                              <td width="44" height="22" align="left" class="txt_negro16_bold"><br /></td>
                          </tr>
                    </table>
                    {% endif %}
                    <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                        <tr>
                          <td width="44" height="22" align="left" class="txt_negro16_bold">Pizza {{ orden.tipoPizza == 1 ? "Grande" : "Chica" }}{% if orden.unidades > 1 %} (x{{orden.unidades}}) {% endif %}</td>
                          <td width="10" align="right"><a title="Editar Orden" href="{{ path('administracion_comanda_editar_orden_pizza', { 'orden_id':orden.id, 'estado' : 'curso' }) }}"><img src="{{ asset('images/icono_editar.png') }}" width="16" height="16" /><br />
                            </a></td>
                          <td width="10" align="center"><a title="Eliminar Orden" href="{{ path('administracion_comanda_eliminar_orden', { 'orden_id':orden.id }) }}"><img src="{{ asset('images/icono_eliminar.png') }}" width="11" height="11" /></a></td>
                        </tr>
                    </table>
                    {% set detalles = orden.comandaOrdenDetalles %}
                    {% for detalle in detalles %}
                        <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                            <td width="44" height="37" align="left"><img src="{{ asset('images/icono_pizza_'~orden.cantidadPorciones~'_'~detalle.numeroPorcionPizza~'.png') }}" width="29" height="29" /></td>
                            <td width="116" align="left"><span class="txt_negro16_bold"><span class="txt_negro12_bold">{{ detalle.producto.nombre}}</span><br />
                            </span><span class="txt_negro12">Porci&oacute;n {{ letras[detalle.numeroPorcionPizza] }}</span><br /></td>
                            <td width="68" align="center" class="txt_negro22_bold">$ {{ detalle.precioPizza(orden.tipoPizza, orden.porcientoPizza(detalle.numeroPorcionPizza))}}</td>                            
                          </tr>
                      </table>                  
                    {% endfor %}                    
                    {% set ordenesHijas = orden.getOrdenesHijas %}
                    {% for hija in ordenesHijas %}
                     <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                              <td width="44" height="22" align="left" class="txt_negro16_bold"><br /></td>
                          </tr>
                      </table>
                      <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                              <td width="44" height="22" align="left" class="txt_negro16_bold">{{ hija.categoria }}{% if hija.unidadesOrdenPadre > 1 %} (x{{hija.unidadesOrdenPadre}}) {% endif %}</td>
                          </tr>
                      </table> 
                      {% set detalles = hija.comandaOrdenDetalles %}
                      {% set cantidadTotal = 0 %}
                      {% for detalle in detalles %}
                      {% set cantidadTotal = cantidadTotal + detalle.cantidad %}
                        <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="20" height="25" align="left"><span class="txt_negro16_bold">{{ detalle.cantidad }}</span></td>
                                <td width="163" align="left"><span class="txt_negro12">{{ detalle.producto.nombre }}</span></td>
                                <td width="32" align="center" class="txt_negro22_bold">&nbsp;</td>
                                {% if loop.last and hija.categoria != 'Empanadas' %}
                                    <td align="center" class="txt_negro22_bold">$ {{ hija.precio }}</td>
                                {% else %}
                                    <td width="21" align="center"><a href="#"><br />
                                        </a>
                                    </td> 
                                     <td width="24" align="center">&nbsp;</td>
                                {% endif %}
                            </tr>
                        </table>
                      {% endfor %}
                      {% if hija.categoria == 'Empanadas' %}                      
                      <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                              <td align="left" width="215"><span class="txt_negro12">Cantidad Total: </span><span class="txt_negro12_bold">{{ cantidadTotal }} unidades</span></td>
                              <td align="center" class="txt_negro22_bold">$ {{ hija.precio }}</td>
                              {#<td align="center"><a href="empanadas.html"><img src="{{ asset('images/icono_editar.png') }}" width="16" height="16" /><br />
                                  </a></td>
                              <td align="center"><a href="#"><img src="{{ asset('images/icono_eliminar.png') }}" width="11" height="11" /></a></td>#}
                          </tr>
                      </table> 
                     {% endif %} 
                    {% endfor %}
                    {% if orden.comentario %}
                          <table width="290" height="43" border="0" align="center" cellpadding="0" cellspacing="0" class="txt_comentariosproductos">
                            <tr>
                              <td width="251" height="43" align="left">{{ orden.comentario }}</td>
                            </tr>
                          </table>
                    {% endif%}
                {% else %} 
                      <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                              <td width="44" height="22" align="left" class="txt_negro16_bold"><br /></td>
                          </tr>
                      </table>
                      <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                              <td width="44" height="22" align="left" class="txt_negro16_bold">{{ orden.categoria }}</td>
                              <td align="right" width="10"><a href="{{ path('administracion_comanda_editar_orden_comun', {'orden_id':orden.id, 'accion':'elaboracion'}) }}"><img src="{{ asset('images/icono_editar.png') }}" width="16" height="16" /><br />
                                  </a></td>
                              <td align="center" width="10"><a title="Eliminar Orden" href="{{ path('administracion_comanda_eliminar_orden', { 'orden_id':orden.id }) }}"><img src="{{ asset('images/icono_eliminar.png') }}" width="11" height="11" /></a></td>                              
                          </tr>
                      </table>
                      {% set detalles = orden.comandaOrdenDetalles %}
                      {% set cantidadTotal = 0 %}
                      {% for detalle in detalles %}
                      {% set cantidadTotal = cantidadTotal + detalle.cantidad %}
                        <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                            <tr>
                                <td width="20" height="25" align="left"><span class="txt_negro16_bold">{{ detalle.cantidad }}</span></td>
                                <td width="163" align="left"><span class="txt_negro12">{{ detalle.producto.nombre }}</span></td>
                                <td width="32" align="center" class="txt_negro22_bold">&nbsp;</td>
                                {% if loop.last and orden.categoria != 'Empanadas' %}
                                    <td align="center" class="txt_negro22_bold">$ {{ orden.precio }}</td>
                                {% else %}
                                    <td width="21" align="center"><a href="#"><br />
                                        </a>
                                    </td> 
                                     <td width="24" align="center">&nbsp;</td>
                                {% endif %}
                            </tr>
                        </table>
                      {% endfor %}
                      {% if orden.categoria == 'Empanadas' %}
                      <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                          <tr>
                              <td align="left" width="215"><span class="txt_negro12">Cantidad Total: </span><span class="txt_negro12_bold">{{ cantidadTotal }} unidades</span></td>
                              <td align="center" class="txt_negro22_bold">$ {{ orden.precio }}</td>
                          </tr>
                      </table>
                      {% endif %}
                      {% if orden.comentario %}
                          <table width="290" height="43" border="0" align="center" cellpadding="0" cellspacing="0" class="txt_comentariosproductos">
                            <tr>
                              <td width="251" height="43" align="left">{{ orden.comentario }}</td>
                            </tr>
                          </table>
                    {% endif%}
                {% endif%} 
            {% endfor %}
        
            <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="180" height="37" align="right" class="txt_gris12_bold">Tiempo de demora estimado</td>
                    <td width="110" align="right"><select name="demora" class="txt_gris12" id="demora">
                            <option value="1" {% if comanda.tiempoDemora == 1 %} selected="selected" {% endif %}>30 a 40 min</option>
                            <option value="2" {% if comanda.tiempoDemora == 2 %} selected="seletced" {% endif %}>40 a 50 min</option>
                            <option value="3" {% if comanda.tiempoDemora == 3 %} selected="selected" {% endif %}>+ de 60 min</option>
                        </select></td>
                </tr>
                <tr>
                    <td height="37" align="right" class="txt_gris12_bold">Descuento  %</td>
                    <td align="right"><input name="descuento" type="text" class="txt_gris12" id="descuento" size="13" /></td>
                </tr>
            </table>
            <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="180" height="16" align="center" class="txt_gris12_bold"><img src="{{ asset('images/linea_hor_grisoscuro.jpg') }}" width="290" height="2" /></td>
                </tr>
            </table>
            <table width="290" border="0" align="center" cellpadding="5" cellspacing="0" class="tit_blanco22">
                <tr>
                    <td width="251" height="32" align="right">TOTAL: $ {{ comanda.precioFinal }}</td>
                </tr>
            </table>
            <table width="290" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="180" height="37" align="right" class="txt_gris12_bold">Llevar cambio de $</td>
                    <td width="110" align="right"><input name="cambio" type="text" class="txt_gris12" id="cambio" size="13" /></td>
                </tr>
            </table>
            <br />
            <table width="290" height="86" border="0" align="center" cellpadding="0" cellspacing="0">
                <tr>
                    <td width="251" height="43" align="center"><div class="btnfinalizadcomanda"> <a target="_blank" data-estado="crear" data-destino="_blank" class="enviar" href="{{ path('administracion_comanda_finalizar')}}"> Finalizar / Imprimir comanda</a></div></td>
                </tr>
                <tr>
                    <td height="43" align="center"><a href="{{ path('administracion_comanda_cancelar')}}" class="txt_rojo12">Cancelar comanda</a></td>
                </tr>
            </table>
        {% endif %}
    {% else %} 
        <table width="290" border="0" align="center" cellpadding="0" cellspacing="0" height="400">
            <tr>
                <td width="251" height="22" align="right" class="txt_gris12_bold">&nbsp;</td>
            </tr>
        </table>
    {% endif %}
</div>
</form>