{% extends '::administracion.html.twig' %}

{% block content %}
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td height="26" align="right" class="txt_grisclaro12"><strong>{{ cliente.apellido }}</strong>, {{ cliente.nombre }} </td>
  </tr>
</table>
<table width="100%" border="0" cellspacing="0" cellpadding="3">
  <tr>
    <td width="84%" align="left" bgcolor="#F1F1F1"><span class="txt_negro16">Cliente Nro. </span><span class="txt_rojo16">{{ cliente.codigo }} <br />
    </span></td>
  </tr>
  <tr></tr>
</table>
<table id="dataTable" class="display" width="100%" border="0" cellspacing="0" cellpadding="3">
    <thead>
        <tr>
          <th width="9%" height="26" align="center" bgcolor="#CCCCCC" class="txt_blanco12_bold">Fecha </th>
          <th width="14%" align="center" bgcolor="#CCCCCC"><span class="txt_blanco12_bold"> Hora</span></th>
          <th width="74%" align="center" bgcolor="#CCCCCC"><span class="txt_blanco12_bold">Nro. de comanda</span></th>
          <th width="3%" align="center" bgcolor="#CCCCCC">&nbsp;</td>
        </tr>
    </thead>  
  <tbody>
  {% for comanda in comandas %}
    <tr>
        <td height="47" align="center" class="bordeabajo"><span class="txt_gris12">{{ comanda.fecha | date('d.m.Y') }}</span></td>
        <td align="center" class="bordeabajo"><span class="txt_gris12"> {{ comanda.hora | date('Hi')  }}</span></td>
        <td align="center" class="bordeabajo"><span class="txt_gris12_bold">{{ comanda.codigo }}</span></td>
        <td align="center" class="bordeabajo"><a href="{{ path('administracion_comanda_editar', { 'id':comanda.id }) }}"><img src="{{ asset('images/icono_ver.png') }}" width="16" height="16" /></a></td>
      </tr>
  {% endfor %}
  </tbody>  
</table>
<br />
<br />
{% endblock %}